<div class="container">
  <button type="button" class="btn btn-success btn-block mt-3" (click)="add()"> Add new author</button>
  <table *ngIf="tableMode; else create" class="table table-striped table-hover table-sm">
    <thead>
    <tr>
      <td  style="min-width:12rem">Name</td>
      <td>Email</td>
      <td>Phone number</td>
      <td>Address</td>
      <td>Status</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let facilityIter of facilities">
      <ng-template [ngIf]="facility.id != facilityIter.id" [ngIfElse]="edit">
        <td>{{facilityIter.name}}</td>
        <td>{{facilityIter.email}}</td>
        <td>{{facilityIter.phoneNumber}}</td>
        <td>{{facilityIter.address}}</td>
        <td>{{facilityIter.status.name}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editFacility(facilityIter)">Change</button>
          <button class="btn btn-sm btn-danger" (click)="delete(facilityIter)">Delete</button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

<!--шаблон для редактирования-->
<ng-template #edit>

  <td> <input type="text" [(ngModel)]="facility.name" class="form-control" /> </td>
  <td> <input type="email" [(ngModel)]="facility.email" class="form-control" /> </td>
  <td>  <input type="tel" [(ngModel)]="facility.phoneNumber"
               pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required>
    <small>Format: 123-456-7890</small> </td>
  <td> <input type="text" [(ngModel)]="facility.address" class="form-control" /> </td>
  <td>
    <ng-select [items]="statuses"
               bindLabel="name"
               [multiple]="false"
               placeholder="Choose status"
               [(ngModel)]="facility.status">
  </ng-select>
  </td>

  <td>
    <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Facility name</label>
    <input type="text" placeholder="Facility name" [(ngModel)]="facility.name" class="form-control" />
    <label>Facility email</label>
    <input type="email" [(ngModel)]="facility.email" class="form-control" />
    <label>Facility address</label>
    <input type="text" [(ngModel)]="facility.address" placeholder="Facility address"  class="form-control" />
    <label>Facility status</label>
    <ng-select [items]="statuses"
               bindLabel="name"
               [multiple]="false"
               placeholder="Choose status"
               [(ngModel)]="facility.status">
    </ng-select>
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
